$darckBackground: #202020;
$container1920: 1352px;
$lightText: #ffffff;
$grayText: #CACACA;
$hoverColor: #FF6E30;
$focuseColor: #BC572B;
$activeColor: #CE4307;
$padding768: 27px;
$padding320: 21px;
$fontTT: 'TT-Firs-Neue', serif;
$fontRoboto: 'Roboto', sans-serif;
